.hgv-settings-nav {
    .driver {
        font-size: x-small;
        font-weight: 600;
        letter-spacing: .3px;
    }

    .dropdown {
        .dropdown-toggle {
            padding-top: 0;
            padding-left: 0;
        }

        .dropdown-menu {
            position: absolute;
        }
    }
}