.single-record {
    height: 100vh;
    
    .col, .btn-close {
        border-color: darken( $table-border-color, 5% ) !important;
    }

    > div {
        padding-left: 15px;
        margin-right: 0;
    }

    .sidebar-header {
        div:first-child {
            padding: 14.5px 15px;
        }
        div:nth-child(2) {
            padding: 14.5px 15px;
        }
        div:last-child .btn {
            padding: 14.5px 15px;
            width: 53px;
        }
    }

    .bg-lightdarker {
        padding: 0.75rem 15px;
    }
}