#hgv-settings-dropdown-nav {
    .driver {
        font-size: x-small;
        font-weight: 600;
        letter-spacing: .3px;
    }

    .dropdown {
        .dropdown-toggle {
            padding-top: 0;
        }
    }
}