@import url('https://fonts.googleapis.com/css?family=Dosis:400,500,600,700&display=swap');

html, body {
    font-family: 'Dosis', sans-serif;
}

.font-weight-medium {
    font-weight: 500;
}
.font-weight-semi-bold {
    font-weight: 600;
}